body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f9fa;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
  
  .logo {
    color: #007bff;
    font-weight: 800;
    font-size: 1.4em;
  }
  
  nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
  }
  
  main {
    padding: 40px;
  }
  
  .summary h2 {
    font-size: 1.5em;
    color: #222;
    margin: 0;
  }
  
  .summary p {
    color: #666;
  }
  
  .cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 250px;
    box-shadow: 2px 0px 10px 0.5px rgb(26, 38, 25);
    text-align: center;
  }

  .card:hover{
    box-shadow: 2px 2px 10px 1px rgb(26, 38, 25);
    transition: all 0.3s ease-in-out;
    scale: 1.05;
  }
  
  .label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .goal {
    font-size: 0.9em;
    color: #666;
    margin-top: 10px;
  }
  
  .actions {
    margin-top: 30px;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .log {
    background-color: #007bff;
    color: white;
  }
  
  .view {
    background-color: white;
    border: 1px solid #ccc;
  }
  
  .circle-chart {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
  
  .circular-chart {
    width: 100px;
    height: 100px;
    transform: rotate(-90deg);
  }
  
  .circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }
  
  .progress {
    fill: none;
    stroke-width: 3.8;
    stroke-linecap: round;
    animation: progressAnimation 1s ease-out forwards;
  }
  
  .blue .progress {
    stroke: #007bff;
  }
  
  .red .progress {
    stroke: #e53935;
  }
  
  .green .progress {
    stroke: #26a69a;
  }
  
  @keyframes progressAnimation {
    from {
      stroke-dasharray: 0 100;
    }
  }
  button{
         
    border-radius: 10%;
   margin-left: 10px;
  }
